.main-container {
    height: 100vh;
    background-color: #0a5517;
}

.logo {
    width: "500px";
    position: absolute;
    margin: 25px;
}

.btn-primary {
    background-color: #19882c;
}

a {
    // color: white;
}

// .container {
//     height: 70vh;
// }
